In [1]:
# Indentacion
# {}, ;, () delimitan bloques de codigo - Java Javascript 
v1 = 5
if v1 == 6 :
    print('El numero es 6')
    print('El numero es positivo')
else:
    print('El numero no es 6')
    print('el numero es menor qeu 6')

El numero no es 6
el numero es menor qeu 6

In [2]:
v1 = 5
if v1 == 6 :
    print('El numero es 6')
    print('El numero es positivo')
else:
print('El numero no es 6')
print('el numero es menor qeu 6')

IndentationError: expected an indented block after 'if' statement on line 2 (743803944.py, line 3)

In [ ]:
# Comentarios
# Usar: documentar el codigo, documentar funciones para que nuestro codigo sea legible

In [5]:
# Variables
# Java -> String varaible1;
variable1 = 'Datapath'
variable2 = 3
variable3 = 2.4
variable4 = 3j

In [7]:
print(type(variable1))
print(type(variable2))
print(type(variable3))
print(type(variable4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
x, y, z = 'Pera', 'Manzana', "Platano"
print(x)
print(y)
print(z)

Pera
Manzana
Platano

In [9]:
# String

var1 = "Datapath"

print(var1)
print(var1[0])

Datapath
D

In [10]:
# Listas

lista1 = []

lista2 = [1, 2, 5, 6, 9] # lista de enteros

lista3 = ['datapath', 'Python']

lista4 = [1, "Python", 4j] # Lista mixta

lista5 = ["Manzana", 4, [4, 5, 7], [1,6,'Datapath']] # lista anidada

In [13]:
print (lista5)
print(lista5[0])
print(lista5[3])
print(lista5[3][2])

['Manzana', 4, [4, 5, 7], [1, 6, 'Datapath']]
Manzana
[1, 6, 'Datapath']
Datapath

In [4]:
lista_nueva = [1, 3, 4, 5]

# Corregir una lista

lista_nueva[1] = 2

lista_nueva[2] = 3

lista_nueva[3] =4

print(lista_nueva)

print(lista_nueva[0:2])

print(lista_nueva[1:3])

[1, 2, 3, 4]
[1, 2]
[2, 3]

In [5]:
lista_nueva[1:3] = [7,8]

print(lista_nueva)

[1, 7, 8, 4]

In [7]:
# append -> agregar un elemnto
# extend -> agrega una lista de elementos

lista_nueva.append(10)

print(lista_nueva)

lista_nueva.extend([2, 3, 5])

print(lista_nueva)

[1, 7, 8, 4, 10, 10]
[1, 7, 8, 4, 10, 10, 2, 3, 5]

In [8]:
lista_nueva.append([12, 13, 15])
print(lista_nueva)

[1, 7, 8, 4, 10, 10, 2, 3, 5, [12, 13, 15]]

In [13]:
# Para cada elemento dentro de lista_nueva hacer:
for item in lista_nueva:
    print("Elemento")
    print(item)

print("Final")

Elemento
1
Elemento
7
Elemento
8
Elemento
4
Elemento
10
Elemento
10
Elemento
2
Elemento
3
Elemento
5
Elemento
[12, 13, 15]
Final

In [14]:
# Tuplas

tupla = ()

tupla_enteros = (1, 2, 3, 4, 5)

tupla_mixta = ('Juan', 1, 4.4)

tupla_anidada = ('Juan', 2, 5, (1, 4, 5))

print(tupla_anidada)

('Juan', 2, 5, (1, 4, 5))

In [18]:
print(tupla_mixta[1])

1

In [19]:
tupla_mixta[1] = '3'

TypeError: 'tuple' object does not support item assignment

In [22]:
tupla = ("Manzana")
print(type(tupla))

tupla = ("Manzana",)

# Parentesis opcional

tupla = "Manzana",

print(type(tupla))

<class 'str'>
<class 'tuple'>

In [24]:
for item in  tupla_anidada:
    print(item)

Juan
2
5
(1, 4, 5)

In [28]:
# Diccionarios
# {"key":"value", "key2":"Value2"}

diccionario = {}

diccionario_enteros = {1: "Juan", 2: "Maria"}

diccionario_mixta = {'name': "Juan", "age": 25, 1: "4807652233", "lista": [1, 2, 4, 5]}
print(diccionario_mixta)

{'name': 'Juan', 'age': 25, 1: '4807652233', 'lista': [1, 2, 4, 5]}

In [29]:
print(diccionario_mixta["name"])
print(diccionario_mixta["age"])

Juan
25

In [31]:
print(diccionario_mixta[1])

4807652233

In [32]:
diccionario_mixta = {'name': "Juan", "age": 25, "address": "lima"}

print(diccionario_mixta["name"])
print(diccionario_mixta["age"])
print(diccionario_mixta["address"])

Juan
25
lima

In [37]:
diccionario_mixta = {'name': "Juan", "age": 25}

name =  (diccionario_mixta["name"])
age = (diccionario_mixta["age"])
address = (diccionario_mixta.get("address"))

In [ ]:
# {'name': "Juan", "age": 25, "address": null} DataFrame
# {'name': "Juan", "age": 25} <- Json File

In [38]:
diccionario_mixta["id"] = 123456789
print(diccionario_mixta)

{'name': 'Juan', 'age': 25, 'id': 123456789}

In [39]:
diccionario_mixta["id"] = 98765432
print(diccionario_mixta)

{'name': 'Juan', 'age': 25, 'id': 98765432}

In [41]:
for key in diccionario_mixta:
    print(key, '-> ', diccionario_mixta[key])

name ->  Juan
age ->  25
id ->  98765432

In [42]:
for item in diccionario_mixta.items():
    print(item)

('name', 'Juan')
('age', 25)
('id', 98765432)

In [44]:
# control de flujo

# If 

num = 5

if num < 0:
    print(num, " es mayor que cero y es positivo")
else:
    print(num, " es negativo")

5  es negativo

In [49]:
num = int(input("Ingresa un numero: "))

if num >= 0:
    if num == 0:
        print("el numero ingresado es 0")
    else:
        print("el numero es positivo")
else:
    print("El numero es negativo")

el numero es positivo

In [52]:
num = int(input("Ingresa un numero: "))

if num >= 0:
    if num == 0:
        print("el numero ingresado es 0")
    elif num == 5:
        print("el numero ingresado es 5 ")
    else:
        print("El numero ingresado es positivo")
else:
    print("El numero es negativo")

el numero ingresado es 5

In [59]:
# For

numeros = [1, 2, 3, 4, 5]

suma = 0

for item in numeros:
    print("suma =", suma)
    print(item)
    suma = suma + item

print("Suma total", suma)

suma = 0
1
suma = 1
2
suma = 3
3
suma = 6
4
suma = 10
5
Suma total 15

In [79]:
#while 

n = 450
suma = 0
i = 1

while i <= n:
    suma +=i
    i += 1

print(suma)

101475

In [66]:
# break, continue, pass

for item in range(5):
    if item == 3:
        break
    print(item)

0
1
2

In [67]:
for item in range(5):
    if item == 3:
        continue
    print(item)

0
1
2
4

In [74]:
def funcion():
    pass
for item in range(5):
    pass

In [77]:
try:
    print("Try")
    b = 5/0
except Exception as e:
    print("Ha sucedido un error")
    print(e)

Try
Ha sucedido un error
division by zero

In [84]:
# Operadores de asignacion

a = 10
b = 6

x = a + b

x = a; x+=b; print(x) # x+=b; x = x + b 
x = a; x-=b; print(x)
x = a; x*=b; print(x)
x = a; x/=b; print(x)
x = a; x//=b; print(x)
x = a; x%=b; print(x)

16
4
60
1.6666666666666667
1
4

In [104]:
# Funciones

def funcion():
    print("hola")
    return "Hola Mundo"

In [105]:
func = funcion()

print(func)

hola
Hola Mundo

In [87]:
def funcion(num):
    return num*4

In [88]:
funcion(2)

8

In [89]:
def suma(a, b):
    return a + b

In [90]:
suma(5, 6)

11

In [91]:
suma = lambda a,b: a+b
suma(2,5)

7

In [92]:
def suma_numeros(num):
    
    suma = 0
    i = 1

    while i <= num:
        suma +=i
        i += 1

    return suma

In [96]:
suma = suma_numeros(15)

#### Ejercicios

1. funcion para buscar un elemento en una lista 
2. funcion que sume los numeros positivos de una lista
3. funcions que busque una clave de un diccionario
4. filtrar numeros impares en una lista

In [115]:
def busca_elemento (lista, elemento):
    for item in lista:
        print(item)
        if item == elemento:
            return "Elemento encontrado"
        



def busca_elemento (lista, elemento):
    for i, item in enumerate(lista):
        if item == elemento:
            return i

lista = [1,2,-3,4,5]
elemnto = 3

busca_elemento(lista, elemnto)

In [116]:
def suma_positivo(lista):
    suma = 0
    for num in lista:
        if num > 0:
            suma += num

    return suma

suma_positivo(lista)

12

In [122]:
diccionario = {"name": "Juan", "age": 25}

# def existe_clave(diccionario, clave):
#     if diccionario.get(clave):
#         return True
#     else: 
#         return False
    
def existe_clave(diccionario, clave):
    return clave in diccionario
    
existe_clave(diccionario,"name")

True